<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="youhuiquanff">

    <div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
        <input type="hidden" name="couponId" th:value="${couponModel.couponId}">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" th:value="${couponModel.couponTitle}" name="couponTitle" style="width: 150px" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠券图片</label>
            <input type="hidden" name="imgUrl" th:value="${couponModel.imgUrl}" id="imgUrlId" >
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img width="100px" height="70px" class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠券数量</label>
            <div class="layui-input-block">
                <input type="text"  th:value="${couponModel.couponQuantity}" name="couponQuantity" style="width: 150px" lay-verify="title" autocomplete="off" placeholder="请输入优惠券数量" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否发放</label>
            <div class="layui-input-block">
                <select name="couponStatus" lay-filter="aihao">
                    <option value="" selected>--请选择--</option>
                    <option value="1" th:selected="${couponModel.couponStatus==1}">发放</option>
                    <option value="2" th:selected="${couponModel.couponStatus==2}">未发放</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${couponModel.couponStarttime}" name="couponStarttime" id="date" lay-verify="date" placeholder="开始时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${couponModel.couponEndtime}" name="couponEndtime" id="date1" lay-verify="date" placeholder="结束时间" autocomplete="off" class="layui-input">
            </div>
        </div>

    <div class="layui-form-item">
        <label class="layui-form-label">优惠券类型</label>
        <div class="layui-input-block">
            <input type="text" th:value="${couponModel.couponType}" name="couponType" style="width: 150px" lay-verify="title" autocomplete="off" placeholder="请输入优惠券类型" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">优惠金额</label>
        <div class="layui-input-block">
            <input type="text" th:value="${couponModel.couponPrice}" name="couponPrice" style="width: 150px" lay-verify="title" autocomplete="off" placeholder="请输入优惠金额" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">优惠券使用方式</label>
        <div class="layui-input-block">
            <input type="text" th:value="${couponModel.coupon}" name="coupon" style="width: 150px" lay-verify="title" autocomplete="off" placeholder="请输入优惠券使用方式" class="layui-input">
        </div>
    </div>
</div>
</form>
</body>
<script type="text/javascript">
    $(function () {
        $("#demo1").prop("src",$("#imgUrlId").val())
    })
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/upload'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }

            ,done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                alert(res.data.src);
                console.log(res.data.src);
                $("#imgUrlId").val(res.data.src);
                layer.msg('上传成功');
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
</script>
<script type="text/javascript">
    layui.use(['laydate'], function() {
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
    })



</script>
</html>