<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/js/layui/css/layui.css"/>
<link rel="stylesheet" href="/js/layui/css/modules/laydate/default/laydate.css"/>
<link rel="stylesheet" href="/js/layui/css/layui.css"  media="all"/>
<script type="text/javascript" src="/js/layui/layui.js"></script>
<script src="/js/layui/layui.all.js" charset="UTF-8"></script>
<script src="/js/layui/lay/modules/tree.js"></script>

<body>
<div class="layui-form-item">
    <label class="layui-form-label">优惠券图片</label>
    <input type="hidden" id="carimgId">
    <div class="layui-input-block">
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test1">上传图片</button>
            <div class="layui-upload-list">
                <img width="100px" height="70px" class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/upload'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }

            ,done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                alert(res.data.src);
                console.log(res.data.src);
                layer.msg('上传成功');
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    })
</script>
</html>